.left-column {
    /* Vertical separator */
    border-right: 1px solid darkgreen;
    /* Optional spacing */
    padding-right: 10px;
}

/* INPUT */
.editor {
    height: 600px;
}

/* OUPUT */
.output {
    border: none;
    background-color: #1e1e1e;
    width: 100%
}

.failure {
    color: indianred;
}

.regex {
    color: lawngreen;
}

/* NOTIFICATION */
.notify-init {
    opacity: 0;
}

.notify-show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.notify-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear;
}

/* TREE */
ul {
    list-style-type: none;
}

.caret::before {
    content: "\25B6";
    color: #2e2e2e;
    display: inline-block;
    margin-right: 3px;
    transform: rotate(90deg);
}

.bullet::before {
    content: "\2022";
    margin-right: 3px;
}

.tree-number {
    color: #b5cea8;
}

.tree-literal {
    color: #ce9178;
}

.tree-identifier {
    color: #d7b96e;
}

.tree-assignment {
    color: deepskyblue;
}

.tree-expression {
    color: lightblue;
}

.tree-execution {
    color: dodgerblue;
}

.text-area {
}
