@inject IJSRuntime JSRuntime

<button @onclick="Copy">Copy</button>

<Notification @ref="_notification"></Notification>

@code {

	[Parameter]
	public string Text { get; set; }

	private Notification _notification;

	private async Task Copy()
	{
		try
		{
			// found in copy-to-clipboard.js
			await JSRuntime.InvokeVoidAsync("copyToClipboard", Text);
			await _notification.Notify("Done!");
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error: {ex.Message}");
		}
	}
}
